:root{
  --backgroundColor : #333333;
  /* --backgroundColor : #f8f8ff; */
  --headerColor : #000000;
  --headerFontColor :#87ceeb;
  --themeColor : #87ceeb;
  --themeFontColor : #000000;
  /* --themeFontColor : ghostwhite; */
  --shadow : 0 0 0.5em #000a inset;
  --statusText : flex; --emoji : flex;
  --country : flex; --rank : flex;
  --winColor : #42e64a;
  --loseColor : #e92a2a;
}

* {margin: 0;padding: 0;box-sizing: border-box;
  user-select: none;}

body{
  height: 98vh;width:95vw;
  margin: 2.5vw 2.5vw;
  background: var(--backgroundColor);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  overflow: hidden;
}

#root, .App{ width: 100% !important;height: 100% !important; }

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home{
  width: 100%; height: 98%;
  border: 2px solid var(--themeColor);
}
.home nav{
  width: 100%;height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--themeColor);
  text-transform: uppercase;
}
.home nav .active{
  background: #fff;
  color: var(--themeColor);
}
.home nav .nav_children{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home nav .brand_logo{
  width: 20%; height: 100%;
}
.home nav .brand_logo a{
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.home nav .pageLinks{
  width: 50%;
}
.home nav .authLinks{
  width: 30%;
  justify-content: flex-end;
}
.home .mainWrapper {
  width: 100%;height: 90%;
}
.home .mainWrapper form{
  margin-top: 12%; margin-left: 50%;
  transform: translateX(-50%);
}
.home .mainWrapper .ctaButton{
  margin: 10px auto;
  width: 200px; height: 70px;
  float: right;font-weight: bold;
  border-radius: 20px;
  background: transparent;
  box-shadow: var(--shadow);
  border: none;outline: none;
  text-transform: capitalize;
  font-size: 17px;
  cursor: pointer;
}
.home .mainWrapper .ctaButton:active{
  transform: scale(0.1);
  border: none; outline: none;
}
.home .mainWrapper .hero{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* ===== GAME STYLES START HERE ======================= */

/* ===== Game Home ======================= */
.game {
  width: 100%; height: 98%; 
  border: 2px solid var(--themeColor);;
}
.dead{background: radial-gradient(rgb(26, 26, 26),black);}
.injured{background: radial-gradient(red,black);}
.alive{background: radial-gradient(green,black);}

/* =====Game Header Start ==================== */
.game .gameHeader{
  width: 100%; height: 10%;
  border: 2px solid var(--themeColor);
  display: block;
  position: relative;
}
.game .gameHeader .navBlock{
  position: absolute;
  bottom: -50%; left: 1%;
  width: 10%; height:35%;
  display: flex;
  align-items: center; justify-content: center;
  cursor: pointer !important;
  z-index: 2;
}
.game .gameHeader .gameHeaderInner{
  width: 100%;height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game .gameHeader .gameHeaderInner h3{
  height: 100%; margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.game .gameHeader .gameHeaderInner h3 a{
  color: var(--themeColor);
}
.game .gameHeader .gameHeaderInner ul{
  width: 70%; height: 100%;
  margin: 2%;
  display: flex;
  align-items: center; justify-content: space-between;
}
.game .gameHeader .gameHeaderInner ul li{
  height: 100%;
  display: flex;
  align-items: center; justify-content: center;
  cursor: pointer;
}
.game .gameHeader .gameHeaderInner ul li a{
  width: 30px; height: 30px;
  color: var(--themeColor);
  display: flex;
  align-items: center; justify-content: center;
  cursor: pointer;
}
.game .gameHeader .gameHeaderInner ul li a img{
  width: 100%; height: 100%;
  border-radius: 100%;
}
/* =====Game Header End ==================== */

/* =====Game UI Wrapper Start ==================== */
.gameUiWrapper{
  width: 100%;height: 90%;
}
.gameUiWrapper .mainWrapper{
  width: 100%;height: 100%;
}
.gameUiWrapper .mainWrapper .wrapper{
  width: 100%;height: 100%;
}

.game .navUlWrapper{
  width: 100%;height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
.game .navUlWrapper .navUl{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.game .navUlWrapper .navUl li{
  width: 180px;height: 40px;
  margin: 10px auto;position: relative;
  border-radius: 10px;
  background: var(--themeColor);
  color: var(--themeFontColor);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.game .navUlWrapper .navUl li:hover{
  background: linear-gradient(-45deg, var(--themeColor), transparent);
}
.game .navUlWrapper .navUl li:active{
  background: linear-gradient(-45deg, var(--themeColor), transparent);
}
.game .navUlWrapper .navUl li a{
  width: 100%; height: 100%;
  display: flex;justify-content: center;
  align-items: center;
  flex-basis: 100%;
  border-radius: inherit;
  color: #fff;
}

/* ===== Tutorial Wrapper Start ==================== */
.game .tutorial{
  width: 96%;height: 90%;
  margin: 2%; margin-top: 0px;
  padding: 1%;
  line-height: 22px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.game .tutorial::-webkit-scrollbar{background: inherit}
.game .tutorial::-webkit-scrollbar-thumb{background: var(--themeColor);border-radius: 20px;box-shadow: var(--shadow);cursor: pointer;border-radius: 20px;}
.game .tutorial::-webkit-scrollbar-button{background: var(--themeFontColor);height: 2%;border-radius: 20%;}

.game .tutorial h5{
  text-align: left;
  font-weight: bolder;
}
.game .tutorial ul{
  margin-left: 15px;text-align: left;
  line-height: 22px;list-style: disc;
}
.tutorial .example{
  display: flex;justify-content: space-evenly;align-items: center;
  color: rgb(175, 175, 175);
}
.tutorial .arrow{position: relative;text-align: center;color: #000;}
.tutorial .arrow .arrowPack{
  transform: translate(-50%, -50%);
  cursor: default;
}
.tutorial .codeout{
  height: 100%;
  display: flex;justify-content: center;align-items: center;
}
.tutorial .codeout img{
  width: 35px;height: 35px;
  border-radius: 10px;
}
.tutorial .tutorialSendButton{
  border-radius: 5px;
  border: none;outline: none;
  color: skyblue;
  background:radial-gradient(#000, skyblue);
  box-shadow: var(--shadow);
  font-size: 12px;
}
.tutorial .result{
  height: 100%;
  display: flex;justify-content: center;align-items: center;
}
.tutorial .result .status{
  position: relative;
  width: 35px;height: 35px;
  display: flex;justify-content: center;align-items: center;
  border-radius: 10px;
  background-size:100%, 1em 1em;
}
.tutorial .tutorialresultsExplanation{
  margin-left: 55%;
  text-align: right;
}
 .tutorial .status{
  position: relative;
  width: 35px;height: 35px;margin-top: 10px;
  display: flex;justify-content: center;align-items: center;
  border-radius: 10px;
  background-size:100%, 1em 1em;
  color: rgb(175, 175, 175);
}
 .tutorial .statusText{
  position: absolute;left: 50%;
  transform: translateX(-50%);
  width: 100%;height: 100%;
  font-size: 120%;
  display: flex;justify-content: center;align-items: center;
  opacity: 1;background: transparent;
}
 .tutorial .statusEmoji{
  width: 100%;height: 100%;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
}
@media only screen and (max-width:420px) {
  .tutorial .codeout img,
  .tutorial .result .status {
      width: 27px;height: 27px;
  }
}
/* =====TUTORIAL END======================= */

/* =====MORE GAMES START==================== */
.game .moreGames{
  width: 90%;height: 90%;
  margin: 20px;padding: 10px;
  line-height: 22px;
  display: flex;justify-content: center;
  align-items: center;
}

.game .moreGames .playMore{
  position: absolute;left: 50%;
  transform: translateX(-50%);
  width: 40%;height: 8%;
  display: flex;justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--themeColor);
  color: var(--themeFontColor);
  box-shadow: var(--shadow);
  font-weight: bolder;
  cursor: pointer;
}
.game .moreGames .playMore:active{
  transform: translateX(-50%) scale(0.9);
}
/* =====MORE GAMES END==================== */

/* =====SINGLE PLAYER START============= */
.game .singlePlayer{
  width: 100%; height: 100%;
}
.game .singlePlayer ul li{
  width: 130px;height: 30px;
  margin: 10px auto;position: relative;
  display: flex;justify-content: center;align-items: center;
  border-radius: 10px;
  background: var(--themeColor);
  color: var(--themeFontColor);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.game .singlePlayer ul li:hover{
  transform: scale(1.2);
  background: linear-gradient(-45deg, var(--themeColor), transparent);
}
/* =====SINGLE PLAYER END============= */

/* =====FIND AGENTS DIFFICULTY START============= */
.game .findAgents,
.game .multiPlayerOnline{
  position: relative;
  width: 100%;height: 90%;
  display: flex;flex-direction: column;
}
.game .difficultyTable{
  width: 100%; height:90%;
  padding: 5%; padding-top: 0;
  border-radius: 20px;
}
.game .difficultyTable .headInfo{
  display: flex;justify-content: space-around;
  align-items: center;height: 10%;
  margin-bottom: 3%;font-weight: bolder;
  border-bottom: 2px solid var(--themeFontColor);
}
.game .difficultyTable .difficulty{
  display: flex;justify-content: space-around;
  align-items: center;height: 12%;
  margin-bottom: 2.5%;border-radius: 10px;
  background: var(--themeColor);
  color: var(--themeFontColor);
  box-shadow: var(--shadow);
  cursor: pointer;
  position: relative;
}
.game .difficultyTable .difficultyInner{
  width: 100%; height: 100%;
  display: flex;justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.game .difficultyTable .difficultyHeader,
.game .difficultyTable .agentsAvailable, 
.game .difficultyTable .timeAvailable, 
.game .difficultyTable .movesAvailable{
  width: 25%;display: flex;justify-content: center;
  text-transform: uppercase;
}

.game .findAgents .difficultyTable .difficulty:active, 
.game .multiPlayerOnline .difficultyTable .difficulty:active{
  transform: scale(1.1);
  box-shadow: 0 0 6em var(--themeFontColor) inset;
}

.game .difficultyTable select{
  position: absolute;left: 30%;top: 13.5%;
  width: 20%; height: 35px;
  border-radius: 5px;
  background: var(--themeFontColor);
  font-weight: bold;
  color: var(--themeColor);
  display: flex;align-items: center;
  justify-content: space-evenly; 
  cursor: pointer;
}
.game .difficultyTable select option{
  border-radius: 5px;
  background: var(--themeColor);
  color: var(--themeFontColor);
  box-shadow: var(--shadow);
  font-weight: bold;
  cursor: pointer;
}

.game .findAgents .toGame, 
.game .multiPlayerOnline .toGame{
  position: absolute; bottom: 0%;
  left: 50%;transform: translateX(-50%);
  width: 40%;height: 10%;
  display: flex;justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 2%;
  background: var(--themeColor);
  color: var(--themeFontColor);
  box-shadow: var(--shadow);
  font-weight: bolder;
  cursor: pointer;
}
.game .findAgents .toGame:active, 
.game .multiPlayerOnline .toGame:active{
  transform: translateX(-50%) scale(0.9);
}
@media only screen and (max-width:420px) {
  .game .difficultyTable select{
    position: absolute;left: 30%;top: 12.5%;
    width: 40%; height: 35px;
  }
}
/* =====FIND AGENTS DIFFICULTY END============= */

/* =====STORY MODE START======================= */
.game .storyMode{
  position: relative;
  width: 98%;height: 90%;
  margin-bottom: 7%;
  display: flex;flex-direction: column;
}
.game .storyMode h5{
  width: 96%; margin: 2%;
  margin-top: 4%;
  text-align: center;
}
.game .storyMode .stages{
  position: relative;
  width: 100%;height: 90%;
  display: flex;flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
  border-radius: 20px;
}
.game .storyMode .stages::-webkit-scrollbar{background: inherit}
.game .storyMode .stages::-webkit-scrollbar-thumb{background: var(--themeColor);box-shadow: var(--shadow);border-radius: 20px;}
.game .storyMode .stages::-webkit-scrollbar-button{background: var(--themeFontColor);height: 2%;border-radius: 20%; width: 0%;}

.stage{position: absolute;width: 100%;height: 100%;}

.game .storyMode .levelGrid{
  position:absolute;top: 50%;
  transform: translateY(-50%);
  width: 100%;height: 80%;
  border-radius: inherit;
  display: grid;grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.game .storyMode .levelGrid::before{
  content: 'DIA';
  position: absolute;left: 20%;top: 21%;
  width: 50%;height: 50%;
  transform: rotate(-40deg);
  text-align: center;font-size: 90px;
  opacity: 0.1;z-index: -1;
}
.game .storyMode .stage1Lvl .levelGrid::before{content: 'STAGE ONE';}
.game .storyMode .stage2Lvl .levelGrid::before{content: 'STAGE TWO';}
.game .storyMode .stage3Lvl .levelGrid::before{content: 'STAGE THREE';}

.game .storyMode .levelGrid .level{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 2%;
  box-shadow: var(--shadow);
}

.game .storyMode .levelGrid .level:hover{
  background: linear-gradient(-45deg, var(--themeColor), transparent);
}
.game .storyMode .levelGrid .level:active{
  transform: scale(0.9);
}
@media only screen and (max-width:420px) {
  .game .storyMode .levelGrid::before{
    content: 'DIA';
    position: absolute;left: 10%;top: 28%;
  }
}
/* =====STORY MODE END======================= */

/* =====SURVIVAL MODE START======================= */
.survivalMode{
  position: relative;
  width: 90%;height: 85%;
  margin-bottom: 7%;
  display: flex;flex-direction: column;
}
.survivalMode .survivalGraphics{
  display: flex;justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  width: 100%; height: 50%;
  font-size: 500%;
}
.game .survivalMode h3{
  height: 20%;text-align: center;
  margin-top: 0;
} 
.game .survivalMode .buttonWrapper{
  width: 100%;height: 30%;
  display: flex;justify-content: center;
  align-items: center;
}
.game .survivalMode .buttonWrapper button{
  width: 50%;height: 30%;
  display: flex;justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--themeColor);
  color: var(--themeFontColor);
  box-shadow: var(--shadow);
  font-weight: bolder;
  cursor: pointer;
}
.game .survivalMode .buttonWrapper button:active{
  transform: translateX(-50%) scale(0.9);
}
/* =====SURVIVAL MODE END======================= */

/* =====MUTIPLAYER START============= */
.game .multiPlayer,
.game .multiPlayerOnline{
  color: #fff;
}
.game .multiPlayer ul li{
  width: 130px;height: 30px;
  margin: 10px auto;position: relative;
  display: flex;justify-content: center;align-items: center;
  border-radius: 10px;
  background: var(--themeColor);
  color: var(--themeFontColor);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.game .multiPlayer ul li:hover{
  transform: scale(1.1);
  background: linear-gradient(-45deg, var(--themeColor), transparent);
}
.game .multiPlayer ul li:active{
  transform: scale(0.7);
  background: linear-gradient(-45deg, var(--themeColor), transparent);
}

/* =====MUTIPLAYER CHALLENGE START============= */
.game .multiplayerFaceOffPage{
  position: relative;
  display: flex;flex-direction: column;
}
.game .multiplayerFaceOffPage 
.multiplayerFaceOff{
  width: 100%; height: 100%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.game .multiplayerFaceOffPage 
.multiplayerFaceOff .faceOffWrapper{
  width: 100%; height: 50%;
  padding: 5%;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
}

.game .multiplayerFaceOffPage 
.multiplayerFaceOff .pic{
  position: relative;
  width: 80px; height: 80px;
  border-radius: 100%;border: 2px solid var(--themeColor);
  display: flex;align-items: center;justify-content: center;
  flex-direction: column;
}
.game .multiplayerFaceOffPage 
.multiplayerFaceOff .pic img{
  width: 100%; height: 100%;
  border-radius: 100%;border: 2px solid var(--themeColor);
  display: flex;align-items: center;justify-content: center
}
.game .multiplayerFaceOffPage 
.multiplayerFaceOff .pic p{
  position: absolute;
  bottom: -100%;
  width: 110%; height: 100%;
  display: flex;align-items: center;justify-content: center
}
                                                       
.game .multiplayerFaceOffPage 
.multiplayerFaceOff .versus{
  font-size: 30px;
  border: none;outline: none;
}
.game .multiplayerFaceOffPage 
.multiplayerFaceOff .selectedDifficultyByHost{
  position: relative;
  width: 300px; height: 15%;
  border-radius: 10px;
  background: transparent;
  color: var(--themeFontColor);
  box-shadow: 0 0 0.5em #000a inset;
  cursor: pointer;
  border: none;outline: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 6%; padding-right: 4%;
}
.game .multiplayerFaceOffPage 
.multiplayerFaceOff .selectedDifficultyByHost p{
  width: 50%; text-align: left;
}
.game .multiplayerFaceOffPage 
.multiplayerFaceOff .selectedDifficultyByHost span{
  width: 65%; height: 100%; font-weight: bold;
  text-transform: uppercase;
  display: flex;align-items: center;justify-content: space-evenly
}
.game .multiplayerFaceOffPage 
.multiplayerFaceOff .selectYourCode{
  width: 50%; flex-basis: 25%; 
  display: flex;justify-content: center;
  align-items: center;
}
.game .multiplayerFaceOffPage 
.multiplayerFaceOff .selectYourCode button{
  width: 100%;height: 50px;
  text-align: center;
  display: flex;justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--themeColor);
  color: var(--themeFontColor);
  box-shadow: var(--shadow);
  font-weight: bolder;
  cursor: pointer;
}
.game .multiplayerFaceOffPage 
.multiplayerFaceOff .selectYourCode:active{
  transform: translateX(-50%) scale(0.9);
}

/* =====MULTIPLAYER HOST SETTINGS START=====*/
.game .multiplayerFaceOffPage .hostSettings{
  position: absolute;
  top: 2.5%; left: 2.5%;
  width: 95%; height: 95%;
  display: flex;justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--themeFontColor);
  color: var(--themeColor);
}
.game .multiplayerFaceOffPage .hostSettings 
.difficultyTable select{top: 18%;}

.game .multiplayerFaceOffPage 
.hostSettingsButton{
  position: absolute;
  width: 40px; height: 40px !important;
  bottom: 6%;left: 10%;
  display: flex;align-items: center;justify-content: center;
  border-radius: 100%; font-size: 20px;
  cursor: pointer;
  background: transparent;
  color: var(--themeColor);
  box-shadow: var(--shadow);
}
.game .multiplayerFaceOffPage 
.hostSettingsButton:active{
  transform: scale(0.9);
}

@media only screen and (max-width:420px) {
  .game .multiplayerFaceOffPage .hostSettings 
  .difficultyTable select{top: 17%;}
}
  
/* =====MUTIPLAYER CHALLENGE END============= */

/* =====MUTIPLAYER CONNECT TO HOST(JOIN) START============= */
.game .multiplayerHostSelect, 
.game .multiplayerOnlineSceneTwo {
  position: relative;
  width: 100%;height: 90%;
}
.game .multiplayerHostSelect .setHost{
  width: 100%;height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.game .multiplayerHostSelect 
.setHost .selectHost{
  position: relative;
  width: 100%;height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.game .multiplayerHostSelect 
.setHost .selectHost .chooseHostButton,
.game .multiplayerHostSelect 
.setHost .selectHost .selectedHost,
.game .multiplayerHostSelect 
.setHost .selectHost .selectedDifficultyByHost{
  position: relative;
  width: 300px; height: 23%;
  border-radius: 10px;
  background: transparent;
  color: var(--themeFontColor);
  box-shadow: 0 0 0.5em #000a inset;
  cursor: pointer;
  border: none;outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 4%;
  padding-right: 4%;
}
.game .multiplayerHostSelect 
.setHost .selectHost .selectedHost p{
  width: 30%; text-align: left;
}
.game .multiplayerHostSelect 
.setHost .selectHost .selectedHost span{
  width: 70%; height: 100%; font-weight: bold;
  display: flex;align-items: center;justify-content: space-evenly
}
.game .multiplayerHostSelect 
.setHost .selectHost .selectedDifficultyByHost p{
  width: 50%; text-align: left;
}
.game .multiplayerHostSelect 
.setHost .selectHost .selectedDifficultyByHost span{
  width: 65%; height: 100%; font-weight: bold;
  display: flex;align-items: center;justify-content: space-evenly
}
.game .multiplayerHostSelect 
.setHost .selectHost .selectedHost span img{
  width: 40px; height: 40px;
  border-radius: 100%;border: 2px solid var(--themeColor);
  display: flex;align-items: center;justify-content: center
}
.game .multiplayerHostSelect 
.setHost .selectHost ul{
  position: absolute;
  top: 44%;
  width: 70%;height: 60%;
  border-radius: 10px;
  background: skyblue;
  color: var(--themeFontColor);
  cursor: pointer;
  overflow-y:scroll;
}
.game .multiplayerHostSelect 
.setHost .selectHost ul::-webkit-scrollbar{background: inherit; border-radius: 20px;}
.game .multiplayerHostSelect 
.setHost .selectHost ul::-webkit-scrollbar-thumb{background: var(--themeColor);box-shadow: var(--shadow);border-radius: 20px;}
.game .multiplayerHostSelect 
.setHost .selectHost ul::-webkit-scrollbar-button{background: var(--themeFontColor);height: 0%;width: 0%; border-radius: 20%;}

.game .multiplayerHostSelect 
.setHost .selectHost ul li{
  width: 94%;
  margin: 3%; padding: 2%;
  border-radius: 10px;
  box-shadow: var(--shadow);
  text-align: center;
}
.game .multiplayerHostSelect 
.setHost .selectHost ul 
.hostUsernameSearchWrapper{
  display: flex;justify-content: center;
  align-items: center;
}
.game .multiplayerHostSelect 
.setHost .selectHost ul 
.hostUsernameSearchWrapper button{
  width: 20%; font-size: 20px;
  display: flex;justify-content: center;
  align-items: center;
  background: transparent;
  border: none; cursor: pointer;
}

.game .multiplayerHostSelect 
.nextToHostButton{
  width: 50%;height: 50px;
  display: flex;justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--themeColor);
  color: var(--themeFontColor);
  box-shadow: var(--shadow);
  font-weight: bolder;
  cursor: pointer;
}
.game .multiplayerHostSelect 
.nextToHostButton:active{
  transform: scale(0.9);
}

/* =====MUTIPLAYER CONNECT TO HOST(JOIN) END============= */

/* =====MULTIPLAYER END============= */


/* =====SETTINGS START============= */
/* .game .settings{} */
.game .settings .wrapper{
  width: 100%;padding: 1%;
}
.game .settings .settingsHeader{
  width: 100%;
  text-align: center;
}
.game .settings .wrapper::-webkit-scrollbar{background: inherit;}
.game .settings .wrapper::-webkit-scrollbar-thumb{background: var(--themeColor);border-radius: 20px;box-shadow: var(--shadow);cursor: pointer;}
.game .settings .wrapper::-webkit-scrollbar-button{background: var(--themeFontColor);height: 1%;border-radius: 20%;}

/* =====SETTINGS END============= */

/* =====SETTINGS PROFILE START============= */
.game .settingsProfile{
  position: relative;
  width: 90%;height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  /* padding-top: 2%; */
}

.game .settingsProfile .profileBox{
  position: relative;
  width: 95%; border-radius: 5px;
  margin-bottom: 4%;padding: 5%;
  box-shadow: var(--shadow);
}

/* =====PROFILE AVATAR SETTINGS START========== */
.game .settingsProfile .avatar{
  position:relative;width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 1% auto;
}
.game .settingsProfile .avatar .avatarImageWrapper{
  width: 80px; height: 80px;
  border-radius: 100%;
  border: 4px solid var(--themeColor);
  display: flex;align-items: center;
  position: relative;
  box-shadow: var(--shadow);
}
.game .settingsProfile .profileImage{
  position: absolute;
  top: 23%;
  width: 100%; height: 50%;
  display:flex;justify-content:center;align-items:center;
  flex-direction: column;
  padding: 5%;
}
.game .settingsProfile .avatar 
.profileImage .avatarImageWrapper{
  width: 100px; height: 100px;
}
.game .settingsProfile .profileImage img{
  width: 96%; height: 96%;
  margin: 2%;
  border-radius: 100%;
  display: flex;align-items: center;justify-content: center;
}
.game .settingsProfile  .avatarCell{
  position: relative;
  width: 100%; height: 100%;
  display:flex;justify-content:center;align-items:center;
  padding: 5%;
  overflow: hidden;
}
.game .settingsProfile  .avatarCell img{
  position: absolute;
  width: 96%; height: 96%;
  display: flex;align-items: center;justify-content: center;
  border-radius: 100%;
  padding: 4%;
  opacity: 0.6;
}
.game .settingsProfile .avatar .avatarControl{
  position: absolute;top: 0%;
  width: 40px;height: 100%;
  display: flex; justify-content: center;
  align-items: center;
  cursor: pointer; 
  border: none;
  font-weight: bolder;
  cursor: pointer;
  z-index: 3;
}
.game .settingsProfile .avatar 
.controlLeft{left:15%;}
.game .settingsProfile .avatar 
.controlRight{right:15%;}

.game .settingsProfile .avatar .avatarControl button{
  width: 100%;height: 40px;
  border: none;
  border-radius: 100%;
  background: var(--themeColor);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.game .settingsProfile .avatar .avatarControl:active{
  transform: scale(0.9);
}
/* =====PROFILE AVATAR SETTINGS END========== */

/* =====PROFILE INFO DISPLAY START========== */
.game .settingsProfile .profileInfoDisplay{
  position: relative;
  width: 100%;padding: 3%;
}
.game .settingsProfile .profileInfoDisplay
.historyHeader{
  position: relative;
  width: 100%;
  display: flex; justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 20px;
}
.game .settingsProfile .profileInfoDisplay
.historyHeader .historyHeaderStats{
  position: relative;
  width: 60%;
  display: flex; justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--themeColor);
  border-radius: inherit;
}
.game .settingsProfile .profileInfoDisplay
.historyHeader .historyHeaderStats .headerDisplay{
  width: 33%; text-align: center;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.game .settingsProfile .profileInfoDisplay
.historyHeader .historyHeaderStats .totalHeaderDisplay{
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.game .settingsProfile .profileInfoDisplay
.historyHeader .historyHeaderStats .hostedHeaderDisplay{
  border-left: 1px solid var(--themeColor);
  border-right: 1px solid var(--themeColor);
  border-radius: 0;
}
.game .settingsProfile .profileInfoDisplay
.historyHeader .historyHeaderStats .joinedHeaderDisplay{
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.game .settingsProfile .profileInfoDisplay
.profileInfo{
  position: relative;
  width: 100%;
  display: flex; justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}
.game .settingsProfile 
.profileInfoDisplay .profileInfo
.profileInfoTitle{
  position: relative;
  width: 40%;
  display: flex;align-items: center;
  justify-content: flex-start;
  font-weight: bolder;
  font-size: 16.5px;
}
.game .settingsProfile 
.profileInfoDisplay .profileInfo
.profileValueWrapper{
  position: relative;
  width: 60%;height: 35px ;
  display: flex;align-items: center;
  font-weight: bolder;font-size: 16.5px;
  background: #f8f8ff;
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 2%;
}
.game .settingsProfile 
.profileInfoDisplay .profileInfo
.profileValueWrapper .profileValue{
  font-size: 13px; width: 95%;
}
.game .settingsProfile 
.profileInfoDisplay .profileInfo
.profileValueWrapper .profileValueButton{
  display: flex; justify-content: center;
  align-items: center;
  width: 26px; height: 26px;
  border-radius: 100%;
  font-size: 14px;
  box-shadow: var(--shadow);
}
.game .settingsProfile 
.profileInfoDisplay .profileInfo
.profileValueWrapper .winsAndLossesStats{
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: inherit;
}
.game .settingsProfile 
.profileInfoDisplay .profileInfo
.profileValueWrapper .winsAndLossesStats
.winsAndLossesDisplay{
  width: 50%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}
.game .settingsProfile 
.profileInfoDisplay .profileInfo
.profileValueWrapper .winsAndLossesStats .totalDisplay{
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  background: var(--themeColor);
}
.game .settingsProfile 
.profileInfoDisplay .profileInfo
.profileValueWrapper .winsAndLossesStats .winsDisplay{
  background: var(--winColor);
}
.game .settingsProfile 
.profileInfoDisplay .profileInfo
.profileValueWrapper .winsAndLossesStats .lossesDisplay{
  background: var(--loseColor);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
/* MultiPlayer Game  History Display */ 
.game .settingsProfile 
.profileInfoDisplay .profileInfo
.profileValueWrapper .multiplayerHistoryDisplay{
  border-radius: inherit;
}
.game .settingsProfile .profileHistoryReset{
  background: var(--loseColor); cursor: pointer;}
.game .settingsProfile .profileHistoryReset
.profileHistoryResetButton{
  display: flex; justify-content: center;
  align-items: center;
  font-size: 20px;
}
/* =====PROFILE INFO DISPLAY END========== */ 
/* =====SETTINGS PROFILE END========================== */

/* =====SETTINGS DISPLAY START============= */
.game .settingsDisplay{
  position: relative;
  width: 90%;height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 90%;height: 90%;
  padding: 2%; padding-top: 4%;
  text-transform: uppercase;
}

.game .settingsDisplay .displayBox{
  position: relative;
  width: 100%; border-radius: 5px;
  display: flex;align-items: center;
  margin-bottom: 2%; 
  padding: 10px 20px;
  box-shadow: var(--shadow);
}
.game .settingsDisplay .displayBox .settingHeader{
  font-weight: bold;
}

.game .settingsDisplay
.displayLanguage{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.game .settingsDisplay
.displayLanguage .languagePicker{
  position: relative;
  width: 60%; height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  box-shadow: var(--shadow);
  background: var(--themeColor);
  font-weight: bold;
  outline:none;border: none;
  cursor: pointer;
  text-transform: uppercase;
}
.game .settingsDisplay
.displayLanguage .languagePicker .defaultLanguage{
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game .settingsDisplay
.displayLanguage ul{
  position: absolute;
  top: 115%; left: 0%;
  width: 100%;
  border-radius: 5px;
  background: var(--themeFontColor);
  color: #eee;
  z-index: 4;
}
.game .settingsDisplay
.displayLanguage ul li{
  margin: 2% auto; height: 30px;
  border-bottom: 1px solid var(--themeColor);
  cursor: pointer;
  text-align: center;
}
.game .settingsDisplay 
.displayTheme{
  width: 100%;
  flex-direction: column;
}
.game .settingsDisplay 
.displayTheme .themeToggler{
  position: relative;
  display: flex;align-items: center;
  width: 100%;height: 50px;
  font-size: 14px;
  margin-bottom: 2%;
  padding-top: 4%; padding-bottom: 4%;
}
.game .settingsDisplay 
.displayTheme .themeCustomizer {
  height: 100%; width: 100%;
}
.game .settingsDisplay 
.displayTheme .themeCustomizer .themeCustomizerHeader{
  position: relative;
  width: 100%; height: 50px;
  display: flex; justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.game .settingsDisplay 
.displayTheme .themeCustomizer ul{
  width: 100%;
}
.game .settingsDisplay 
.displayTheme .themeCustomizer ul li{
  width: 100%; height: 50px;
  display: flex;justify-content: space-between;
  align-items: center;
}
.game .settingsDisplay 
.displayTheme .themeCustomizer ul li input{
  display: flex;width: 10%;
  border: 1px solid var(--themeColor);
  border-radius: 5px;
  cursor: pointer;
}
.game .settingsDisplay 
.displayTheme .themeCustomizer .resetCustomColors{
  display: flex;align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: inherit;
  background: red;cursor: pointer;
}
/* =====SETTINGS DISPLAY END============= */

/* =====SETTINGS AUDIO START============= */
.game .settingsAudio{
  position: relative;
  width: 90%;height: 90%;
  padding-top: 25%;
  text-align: center;
}
.game .settingsAudio .audioBox{
  position: relative;
  width: 90%;height: 60px;
  display: flex;align-items: center;
  margin: 1% auto;padding: 10px 20px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  margin-bottom: 2%;
}
@media only screen and (max-width:600px) {
  .game .settingsAudio .audioBox{
    height: 50px;
    margin-bottom: 4%;
  }
}
/* =======SETTINGS AUDIO END ==========*/

/* =====SETTINGS  ABOUT START============= */
/* .game .settingsAbout{
display: none;
} */

/* =====SETTINGS CREDITS START============= */
.game .settingsCredits{
  position: relative;
  width: 90%;height: 90%;
  padding-top: 20%;
  text-align: center;
  display: none;
}
.game .settingsCredits .backButton{
  width: 20px;height: 20px;
  background: var(--themeColor);
  box-shadow: var(--shadow);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* =====SETTINGS CREDITS END============= */

/* ===== GAME STYLES ENDS HERE ========================== */
